ul.homeul {margin-top:15px; border-top: 1px solid #c8c8c8;
border-bottom: #c8c8c8 1px solid;}
table.layout {width:100%; height:45px; margin:0; background-color: transparent;border-collapse: collapse; }
table.notlast {border-bottom: #c8c8c8 1px solid;}
table.layoutwithmargintop {margin-top: 2em;}

td.label {width: 6em; text-align: left; background-color:transparent;white-space: nowrap; font-size: 15px; color:#999999;font-weight: normal;}
td.textvalue {width: auto; text-align:right; font-weight: normal; background-color:transparent;font-size: 15px; color:#333333;}
td.icon {width: 20px;  background-size:20px 20px;}
td.space {width: 10px; }
td.icon-input {
background: transparent url("../../commons/images/custom/newflow-select.png") no-repeat right center;
background-size:20px 20px;
}
td.icon-select {
background: transparent url("../../commons/images/custom/newflow-select.png") no-repeat center;
background-size:20px 20px;
}
td.icon-calendar {
background: transparent url("../../commons/images/custom/newflow-calendar.png") no-repeat center;
background-size:20px 20px;
}
td.icon-contact {
background: transparent url("../../commons/images/custom/newflow-contact.png") no-repeat center;
background-size:20px 20px;
}
td.icon-readonly {
background: transparent url("../../commons/images/custom/newflow-contact.png") no-repeat center;
background-size:20px 20px;
}

#textInput {background: #fff;}
#textAreaInput {background: #fff; width: 100%;}
#textInputCharCount {background-color: white;
position: absolute;
right: 10px;
top: 17px;
color: #999999;}
#textAreaInputCharCount {
background-color: white;
position: absolute;
right: 10px;
bottom: 15px;
color: #999999;
}

#_approve_note {
height: 5em;
width: 100%;
background-color: white;
}

.approvenote {
}

.ui-btn-up-approve, .ui-btn-hover-approve {
background-color: #9cca43;
text-shadow: 0 0px 0px rgba(0,0,0,.2);
color: white;
border-radius: 0.2em;
}

.ui-btn-up-e { text-align: center; color: #ed8223; text-shadow: 0 0 0 #fff; border-color:#f5f5f5; border-bottom: 2px solid #ed8223; border-left-width:0px; border-right-width: 0px;}

.ui-shadow {box-shadow: 0 0px 0px rgba(0,0,0,.2);}
.ui-overlay-shadow {box-shadow: 0 0 0px rgba(0,0,0,.6);}
.ui-corner-all {border-radius: 0;}
.ui-page{background: #f5f5f5;}
.ui-body-d, .ui-overlay-d {border: 0px}
.ui-li-static {background-color: #fff;}
.ui-btn-up-d {background-image:none; }
.ui-input-text.ui-focus {box-shadow: 0 0 0 transparent;}
.ui-shadow-inset {box-shadow: 0 0px 0px transparent;}
.ui-li:active {background-color: #c8c8c8; /* #686868;*/ text-shadow: 0 0px 0 #fff;}
.ui-li:active td{/* color: white;*/}

ul.homeul  .ui-li {border: 0px }
ul.homeul {}

li.homeul {padding: 0em 15px;}
ul.homeul .ui-li-static.ui-li {padding: 0 0 0 15px;}


/*日历弹窗背景*/
.dwo {opacity: .6;}

/*弹窗Mask*/
.ui-popup-screen {background: #000;}
.ui-popup-screen.in {
opacity: .6;
}

/*弹出菜单样式*/
.ui-listview-inset .ui-li {
border-right-width: 0px;
border-left-width: 0px;
}

.ui-li, .ui-li.ui-field-contain {
/*
display: block;
margin: 0;
position: relative;
overflow: visible;
text-align: left;*/
border-width: 0;

border-bottom-width: 1px;
}

.ui-btn-up-e {
text-align: center;
color: #ed8223;
text-shadow: 0 0 0 #fff;
/*
border-color: #f5f5f5;
border-left-width: 0px;
border-right-width: 0px;
*/
border-bottom: 1px solid #ed8223;
}




/*************************************** 公用样式 *****************************************/
*{margin: 0; padding: 0;}
ul,ul li{list-style: none;}
body{background:#fff;text-align:center; font-family:Arial,"微软雅黑"; font-size: 16px;}


/********************************* 重写jquerymobile样式 *************************************/
.ui-bar-a{border: none; background: none; text-shadow:none;}
.ui-body-a{background: #fff;}
.ui-page-footer-fixed{padding-bottom: 0;}
.ui-body-c .ui-link:visited,.ui-body-c .ui-link{color:#4D4D4D;text-decoration: none; font-weight: normal}

.backlogTab {
width: 100%;
height: 45px;
color: #959595;
background: #F8F8F8;
top: 46px;
}

ul, ul li {
list-style: none;
}

.backlogTab ul li.current {
border-bottom: 3px solid #F07F00;
color: #4D4D4D;
}

.attendanceTab ul li {
width: 33.333333333333333333333%;
}

.backlogTab ul li {
width: 33.33333%;
border-bottom: 0 solid #F07F00;
line-height: 43px;
float: left;
text-align: center;
}

.hide {
display:none;
}